.form-size {
    width: 500px;
    margin: 0 auto;
}

.title-text {
    font-size: 50px;
    margin: 0px;
}

.signup-main {
    text-align: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    
}


.nameInput {
    width: 100%;
}

.firstNameInput {
    width: 49%;
    margin-right: 10px;

}

.lastNameInput {
    width: 49%;
}


.input {
    margin-top: 10px;
}

.inlineInput {
    display: inline-block;
}

.instagramInput {
    width: 32%;
    margin-right: 10px;
}

.twitterInput {
    width: 32%;
    margin-right: 10px;
}

.tiktokInput {
    width: 32%;
}

.oauth-login {
    margin-top: 10px;
}

.oauth-inline {
    display: inline-block;
}

.second-button {
    margin-left: 10px;
}

.oauth-second {
    margin-top: 10px;
}

